.img {
  width: 100%;
  /* 고정할 너비 값 */
  height: 90%;
  /* 고정할 높이 값 */
  objectfit: "cover";
  /* 이미지를 적절히 조절하여 맞춤 */
  border-radius: 10px;
}
.cont {
  margin-bottom: 100px;
}
.channel {
  color: #aaaaaa;
}
.profileImg {
  flex-grow: 0;
  flex-shrink: 0;
  width: 36px; /* 첫번째 div의 너비 조정 */
  height: 36px;
  border-radius: 50%;
}
.flexsection {
  display: flex;
  margin-top: 0.5rem;
}
.thumbnail {
  border-radius: 50%;
}
